body {
    font-family: Arial, Helvetica, sans-serif !important;
    overflow-x: hidden;
    text-align: left;
   
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99999;
  }

.pulse-loader {
    height: 100px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .pulse-loader:after {
    content: '';
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: 2s pulse linear infinite;
    -moz-animation: 2s pulse linear infinite;
    -o-animation: 2s pulse linear infinite;
    animation: 2s pulse linear infinite;
      clip: rect(0, 0, 100px, 0);
  }
  .pulse-loader:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    right: 2px;
    bottom: 0;
    top: 16px;
    margin: auto;
    height: 3px;
  
  }
  @-webkit-keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
      opacity: 0.4;
    }
    4% {
      clip: rect(0, 66.66667px, 100px, 0);
      opacity: 0.6;
    }
    15% {
      clip: rect(0, 133.33333px, 100px, 0);
      opacity: 0.8;
    }
    20% {
      clip: rect(0, 300px, 100px, 0);
       opacity: 1;
    }
  
    80% {
      clip: rect(0, 300px, 100px, 0);
       opacity:0;
    }
  
    90% {
      clip: rect(0, 300px, 100px, 0);
      opacity: 0;
    }
  
    100% {
      clip: rect(0, 300px, 100px, 0);
      opacity:0;
   }
  }
  @keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
    }
    4% {
      clip: rect(0, 66.66667px, 100px, 0);
    }
    15% {
      clip: rect(0, 133.33333px, 100px, 0);
    }
    20% {
      clip: rect(0, 300px, 100px, 0);
       opacity:1;
    }
  
    80% {
      clip: rect(0, 300px, 100px, 0);
       opacity:0;
    }
  
    90% {
      opacity: 0;
    }
  
    100% {
      clip: rect(0, 300px, 100px, 0);
      opacity:0;
   }
    
  }

  .heading-box {
      margin-bottom: 30px;
  }
  .headline {
      margin-bottom: 20px;
      font-weight: 800;
  }

p, a {
    color: #fff;
    text-decoration: none;
}
p.card-text {
    color: #000;
}
.privacy a {
    text-decoration: underline;
}
.text-paragra {
    padding-left: 60px;
}
.main-cont {
    background: #141618;
    color: #fff !important;
}
nav {
    background-color: #1C4DA1;
}

.nav-link {
    color: #fff !important;
}

.nav-link:active, .active, .nav-link:hover {
    border-bottom: #F6BB30;
}

.nav-items {
    justify-content: flex-end;
}
.banner {
    background-color: #1C4DA1;
    color: #fff;
    width: 100%;
    height: 200px;
    padding-left: 0 !important;
}

hr{
    border: none;
    width: 10%;
    border-bottom: 5px solid #F6BB30;
    border-radius: 5px;
    opacity: 1;
}
hr.line {
    border: none;
    width: 10%;
    border-bottom: 5px solid #F6BB30;
    border-radius: 5px;
    margin: auto;
}
section {
    margin: 10px 5px 10px 5px;
}
.images {
    width: 100%;
    height: auto;
}

.digital {
    display: flex;
    margin: 40px 5px 10px 5px;
    justify-content: space-evenly;
}

.btn-primary{
    border: none;
}
.btn-primary:hover {
    background-color: #CF2C91;
}
.card1 {
    border: 1px solid #1C4DA1;
}
.card2 {
    border: 1px solid #CF2C91;
}
.card3 {
    border: 1px solid #F6BB30;
}
#more {
    display: none;
}
#less {
    display: none;
}

.icon-bar {
    position: fixed;
    top: 50%;
    background-color: #1C4DA1;
    opacity: 0.7;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    /* background: #3B5998; */
    color: white;
  }
  .facebook:hover {
    background: #FCBB30;
    color: white;
  }

  .instagram {
    /* background: #55ACEE; */
    color: white;
  }
  
  .instagram:hover {
    background: #CF2C91;
    color: white;
  }
  
  /* .google {
    background: #dd4b39;
    color: white;
  } */
  
  .linkedin {
    /* background: #007bb5; */
    color: white;
  }

  .linkedin:hover {
    background: #AAAAAB;
    color: white;
  }
  
  
  /* .youtube {
    background: #bb0000;
    color: white;
  }
   */
  .content {
    margin-left: 75px;
    font-size: 30px;
  }
  
footer {
    margin-top: 60px;
}
.contact-text {
    display: flex;
    margin-top: 30px;
}
.contact-inner-cont {
    width: 200px;
    text-align: center;
}
.wrapper{
    width: 715px;
    /* background: #fff; */
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
  }
  .wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
  }
  .wrapper form{
    margin: 35px 30px;
  }
  .wrapper form.disabled{
    pointer-events: none;
    opacity: 0.7;
  }
  form .dbl-field{
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
  }
  .dbl-field .field{
    height: 50px;
    display: flex;
    position: relative;
    width: calc(100% / 2 - 13px);
  }
  .wrapper form i{
    position: absolute;
    top: 50%;
    left: 18px;
    color: #ccc;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
  }
  .dbl-field.name .field {
    width: 100% !important;
  }
  form .field input,
  form .message textarea{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .field input::placeholder,
  .message textarea::placeholder{
    color: #ccc;
  }
  .field input:focus,
  .message textarea:focus{
    padding-left: 47px;
    border: 2px solid #0D6EFD;
  }
  .field input:focus ~ i,
  .message textarea:focus ~ i{
    color: #0D6EFD;
  }
  form .message{
    position: relative;
  }
  form .message i{
    top: 30px;
    font-size: 20px;
  }
  form .message textarea{
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
  }
  form .message textarea::-webkit-scrollbar{
    width: 0px;
  }
  .message textarea:focus{
    padding-top: 14px;
  }
  form .button-area{
    margin: 25px 0;
    display: flex;
    align-items: center;
  }
  .button-area button{
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: #1C4DA1;
    transition: background 0.3s ease;
  }
  .button-area button:hover{
    background: #F6BB30;
  }
  .button-area span{
    font-size: 17px;
    margin-left: 30px;
    display: none;
  }
  @media (max-width: 600px){
      .digital {
          display: block;
      }
    .wrapper header{
      text-align: center;
    }
    .wrapper form{
      margin: 35px 20px;
    }
    form .dbl-field{
      flex-direction: column;
      margin-bottom: 0px;
    }
    form .dbl-field .field{
      width: 100%;
      height: 45px;
      margin-bottom: 20px;
    }
    form .message textarea{
      resize: none;
    }
    form .button-area{
      margin-top: 20px;
      flex-direction: column;
    }
    .button-area button{
      width: 100%;
      padding: 11px 0;
      font-size: 16px;
    }
    .button-area span{
      margin: 20px 0 0;
      text-align: center;
    }
  }
  